%p Hi! Lets play top trumps.

.row
  %h2 1. Copy this example card code:
%textarea.span12{:rows => 20}= example_card_content

.row
  %h2
    2. Paste it into thimble and make it awesome:
    = link_to 'http://thimble.webmaker.org', 'https://thimble.webmaker.org/en-US/editor', :target => :blank

%p= image_tag 'publish.png'

.row
  %h2
    3. Once you are ready to battle, publish your thimble and copy your thimble link here:

= simple_form_for Card.new, :html => {:class => 'form-inline'} do |form|
  = form.input_field :url, :label => false, :placeholder => 'your thimble link'
  = form.button :submit, :class => 'btn-primary', :value => "Let's Go!"